.nav {
  width: 100vw;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
	-webkit-clip-path: polygon(0 0, 83% 0, 58% 60%, 0 100%);
	clip-path: polygon(0 0, 83% 0, 58% 60%, 0 100%);
	background: linear-gradient(45deg,rgb(254, 255, 223), rgba(254, 255, 223, 0.212)) ;
}
.pfc-icon {
  width: 150px;
}
.pfc-icon2 {
  width: 140px;
}

.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 200px;
	height: 100vh;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
  background: linear-gradient(180deg,rgb(254, 255, 223), rgba(254, 255, 223, 0.438));
}

.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #175f11;
	border-bottom: 1px solid #175f11;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0 5px 10px 0;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: rgba(254, 255, 223, 0.438);
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 30px;
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}
