canvas { position: absolute; }

.pulldown {
  margin-left: 0;
  height: 25vh;
  width: 30vw;
  display: inline;
  color: aquamarine;
}
.pulldown select {
  
  
}
.underlay-photo3 {
  animation: hue-rotate 6s infinite;
  background-image: url('yasai3.png');
  background-size: cover;
  z-index: -1;
}