<option class="alga" protein="22.1" fat="" carb="" calorie="">あおさ 素干し</option>
<option class="alga" protein="29.4" fat="" carb="" calorie="">あおのり 素干し</option>
<option class="alga" protein="39.4" fat="" carb="" calorie="">あまのり ほしのり</option>
<option class="alga" protein="12.4" fat="" carb="" calorie="">あらめ 蒸し干し</option>
<option class="alga" protein="34.8" fat="" carb="" calorie="">いわのり 素干し</option>
<option class="alga" protein="38.1" fat="" carb="" calorie="">かわのり 素干し</option>
<option class="alga" protein="11.0" fat="" carb="" calorie="">えながおにこんぶ 素干し</option>
<option class="alga" protein="7.9" fat="" carb="" calorie="">がごめこんぶ 素干し</option>
<option class="alga" protein="8.3" fat="" carb="" calorie="">ながこんぶ 素干し</option>
<option class="alga" protein="6.9" fat="" carb="" calorie="">ほそめこんぶ 素干し</option>
<option class="alga" protein="1.1" fat="" carb="" calorie="">まこんぶ 水煮</option>
<option class="alga" protein="7.7" fat="" carb="" calorie="">みついしこんぶ 素干し</option>
<option class="alga" protein="8.0" fat="" carb="" calorie="">りしりこんぶ 素干し</option>
<option class="alga" protein="0.2" fat="" carb="" calorie="">ところてん</option>
<option class="alga" protein="2.4" fat="" carb="" calorie="">角寒天</option>
<option class="alga" protein="0.2" fat="" carb="" calorie="">粉寒天</option>
<option class="alga" protein="0.7" fat="" carb="" calorie="">ほしひじき 茹で</option>
<option class="alga" protein="14.4" fat="" carb="" calorie="">ひとえぐさ つくだ煮</option>
<option class="alga" protein="13.8" fat="" carb="" calorie="">ふのり 素干し</option>
<option class="alga" protein="27.9" fat="" carb="" calorie="">まつも 素干し</option>
<option class="alga" protein="0.3" fat="" carb="" calorie="">おきなわもずく</option>
<option class="alga" protein="0.2" fat="" carb="" calorie="">もずく</option>
<option class="alga" protein="1.9" fat="" carb="" calorie="">わかめ</option>
<option class="alga" protein="1.1" fat="" carb="" calorie="">くきわかめ</option>
<option class="alga" protein="0.9" fat="" carb="" calorie="">めかぶわかめ</option>