<option class="alga" id="food-1">あおさ</option>
<option class="alga" id="food-2">あおのり</option>
<option class="alga" id="food-3">あまのり</option>
<option class="alga">あらめ</option>
<option class="alga">いわのり</option>
<option class="alga">かわのり</option>
<option class="alga">えながおにこんぶ</option>
<option class="alga">がごめこんぶ</option>
<option class="alga">ながこんぶ</option>
<option class="alga">ほそめこんぶ</option>
<option class="alga">まこんぶ</option>
<option class="alga">みついしこんぶ</option>
<option class="alga">りしりこんぶ</option>
<option class="alga">ところてん</option>
<option class="alga">角寒天</option>
<option class="alga">粉寒天</option>
<option class="alga">ほしひじき</option>
<option class="alga">ひとえぐさ つくだ煮</option>
<option class="alga">ふのり</option>
<option class="alga">まつも</option>
<option class="alga">おきなわもずく</option>
<option class="alga">もずく</option>
<option class="alga">わかめ</option>
<option class="alga">くきわかめ</option>
<option class="alga">めかぶわかめ</option>