<option class="beans" protein="" fat="" carb="" calorie="">あずき</option>
<option class="beans" protein="" fat="" carb="" calorie="">こし生あん</option>
<option class="beans" protein="" fat="" carb="" calorie="">さらしあん</option>
<option class="beans" protein="" fat="" carb="" calorie="">こし練りあん</option>
<option class="beans" protein="" fat="" carb="" calorie="">つぶし練りあん</option>
<option class="beans" protein="" fat="" carb="" calorie="">いんげんまめ</option>
<option class="beans" protein="" fat="" carb="" calorie="">うずら豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">こし生あん</option>
<option class="beans" protein="" fat="" carb="" calorie="">豆きんとん</option>
<option class="beans" protein="" fat="" carb="" calorie="">青えんどう</option>
<option class="beans" protein="" fat="" carb="" calorie="">赤えんどう</option>
<option class="beans" protein="" fat="" carb="" calorie="">グリンピース</option>
<option class="beans" protein="" fat="" carb="" calorie="">塩豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">うぐいす豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">ささげ</option>
<option class="beans" protein="" fat="" carb="" calorie="">そらまめ</option>
<option class="beans" protein="" fat="" carb="" calorie="">おたふく豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">ふき豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">青大豆 国産</option>
<option class="beans" protein="" fat="" carb="" calorie="">黄大豆 国産</option>
<option class="beans" protein="" fat="" carb="" calorie="">黄大豆 米国産</option>
<option class="beans" protein="" fat="" carb="" calorie="">黄大豆 中国産</option>
<option class="beans" protein="" fat="" carb="" calorie="">黄大豆 ブラジル産</option>
<option class="beans" protein="" fat="" carb="" calorie="">黒大豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">きな粉 青大豆 全粒大豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">きな粉 青大豆 脱皮大豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">きな粉 黄大豆 全粒大豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">きな粉 黄大豆 脱皮大豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">ぶどう豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">木綿豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">絹ごし豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">ソフト豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">充てん豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">沖縄豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">ゆし豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">焼き豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">生揚げ</option>
<option class="beans" protein="" fat="" carb="" calorie="">油揚げ</option>
<option class="beans" protein="" fat="" carb="" calorie="">油揚げ 甘煮</option>
<option class="beans" protein="" fat="" carb="" calorie="">がんもどき</option>
<option class="beans" protein="" fat="" carb="" calorie="">凍り豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">豆腐よう</option>
<option class="beans" protein="" fat="" carb="" calorie="">豆腐竹輪</option>
<option class="beans" protein="" fat="" carb="" calorie="">ろくじょう豆腐</option>
<option class="beans" protein="" fat="" carb="" calorie="">糸引き納豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">挽きわり納豆</option>
<option class="beans" protein="" fat="" carb="" calorie="">おから</option>
<option class="beans" protein="" fat="" carb="" calorie="">豆乳</option>
<option class="beans" protein="" fat="" carb="" calorie="">調製豆乳</option>
<option class="beans" protein="" fat="" carb="" calorie="">麦芽コーヒー</option>
<option class="beans" protein="" fat="" carb="" calorie="">粒状大豆たんぱく</option>
<option class="beans" protein="" fat="" carb="" calorie="">濃縮大豆たんぱく</option>
<option class="beans" protein="" fat="" carb="" calorie="">分離大豆たんぱく</option>
<option class="beans" protein="" fat="" carb="" calorie="">繊維状大豆たんぱく</option>
<option class="beans" protein="" fat="" carb="" calorie="">湯葉 </option>
<option class="beans" protein="" fat="" carb="" calorie="">金山寺みそ</option>
<option class="beans" protein="" fat="" carb="" calorie="">ひしおみそ</option>
<option class="beans" protein="" fat="" carb="" calorie="">テンペ</option>
<option class="beans" protein="" fat="" carb="" calorie="">つるあずき</option>
<option class="beans" protein="" fat="" carb="" calorie="">ひよこまめ</option>
<option class="beans" protein="" fat="" carb="" calorie="">べにばないんげん</option>
<option class="beans" protein="" fat="" carb="" calorie="">らいまめ</option>
<option class="beans" protein="" fat="" carb="" calorie="">りょくとう</option>
<option class="beans" protein="" fat="" carb="" calorie="">レンズまめ</option>