<option class="drink">清酒 普通酒</option>
<option class="drink">清酒 純米酒</option>
<option class="drink">清酒 本醸造酒</option>
<option class="drink">清酒 吟醸酒</option>
<option class="drink">清酒 純米吟醸酒</option>
<option class="drink">ビール 淡色</option>
<option class="drink">ビール 黒</option>
<option class="drink">ビール スタウト</option>
<option class="drink">発泡酒</option>
<option class="drink">みりん 本みりん</option>
<option class="drink">玉露</option>
<option class="drink">抹茶</option>
<option class="drink">せん茶</option>
<option class="drink">かまいり茶</option>
<option class="drink">コーヒー</option>
<option class="drink">ココア</option>
<option class="drink">青汁</option>
<option class="drink">甘酒</option>
<option class="drink">昆布茶</option>
<option class="drink">ビール風味炭酸飲料</option>