<option class="drink" protein="" fat="" carb="" calorie="">清酒 普通酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">清酒 純米酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">清酒 本醸造酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">清酒 吟醸酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">清酒 純米吟醸酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">ビール 淡色</option>
<option class="drink" protein="" fat="" carb="" calorie="">ビール 黒</option>
<option class="drink" protein="" fat="" carb="" calorie="">ビール スタウト</option>
<option class="drink" protein="" fat="" carb="" calorie="">発泡酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">みりん 本みりん</option>
<option class="drink" protein="" fat="" carb="" calorie="">玉露</option>
<option class="drink" protein="" fat="" carb="" calorie="">抹茶</option>
<option class="drink" protein="" fat="" carb="" calorie="">せん茶</option>
<option class="drink" protein="" fat="" carb="" calorie="">かまいり茶</option>
<option class="drink" protein="" fat="" carb="" calorie="">コーヒー</option>
<option class="drink" protein="" fat="" carb="" calorie="">ココア</option>
<option class="drink" protein="" fat="" carb="" calorie="">青汁</option>
<option class="drink" protein="" fat="" carb="" calorie="">甘酒</option>
<option class="drink" protein="" fat="" carb="" calorie="">昆布茶</option>
<option class="drink" protein="" fat="" carb="" calorie="">ビール風味炭酸飲料</option>