<option class="egg" protein="" fat="" carb="" calorie="">うこっけい卵 全卵</option>
<option class="egg" protein="" fat="" carb="" calorie="">うずら卵 全卵</option>
<option class="egg" protein="" fat="" carb="" calorie="">鶏卵 全卵</option>