<option class="meat">肉類</option>
<option class="seafood">魚介類</option>
<option class="egg">卵類</option>
<option class="beans">豆類</option>
<option class="milk">乳類</option>
<option class="grain">穀類</option>
<option class="potato">芋類及び澱粉類</option>
<option class="fruit">果実類</option>
<option class="nuts">種実類</option>
<option class="mushroom">キノコ類</option>
<option class="alga">藻類</option>
<option class="vegetable">野菜類</option>
<option class="oils">油脂類</option>
<option class="sugar">砂糖及び甘味類</option>
<option class="pastry">菓子類</option>
<option class="drink">嗜好飲料類</option>
<option class="seasoning">調味料及び香辛料類</option>
<option class="off-the-shelf">調理済み流通食品類</option>