<option class="fruit">アテモヤ</option>
<option class="fruit">アボカド</option>
<option class="fruit">あんず</option>
<option class="fruit">あんずジャム</option>
<option class="fruit">いちご</option>
<option class="fruit">いちごジャム</option>
<option class="fruit">いちじく</option>
<option class="fruit">うめ</option>
<option class="fruit">うめ 梅干し 塩漬</option>
<option class="fruit">オリーブ 塩漬 グリーンオリーブ</option>
<option class="fruit">オリーブ 塩漬 ブラックオリーブ</option>
<option class="fruit">オリーブ 塩漬 スタッフドオリーブ</option>
<option class="fruit">かき</option>
<option class="fruit">いよかん</option>
<option class="fruit">うんしゅうみかん</option>
<option class="fruit">オレンジ ネーブル</option>
<option class="fruit">オレンジ バレンシア 米国産</option>
<option class="fruit">オロブランコ</option>
<option class="fruit">かわちばんかん</option>
<option class="fruit">きよみ</option>
<option class="fruit">グレープフルーツ 白肉種</option>
<option class="fruit">グレープフルーツ 紅肉種</option>
<option class="fruit">さんぼうかん</option>
<option class="fruit">しらぬひ</option>
<option class="fruit">せとか</option>
<option class="fruit">なつみかん</option>
<option class="fruit">はっさく</option>
<option class="fruit">はるみ</option>
<option class="fruit">ひゅうがなつ</option>
<option class="fruit">ぶんたん</option>
<option class="fruit">ぶんたん ざぼん漬
<option class="fruit">ぽんかん</option>
<option class="fruit">ゆず</option>
<option class="fruit">ライム</option>
<option class="fruit">レモン</option>
<option class="fruit">キウイフルーツ 緑肉種</option>
<option class="fruit">グァバ 赤肉種</option>
<option class="fruit">グァバ 白肉種</option>
<option class="fruit">くこ</option>
<option class="fruit">ココナッツ ココナッツミルク</option>
<option class="fruit">さくらんぼ 国産</option>
<option class="fruit">さくらんぼ 米国産</option>
<option class="fruit">すいか 赤肉種</option>
<option class="fruit">すいか 黄肉種</option>
<option class="fruit">カシス</option>
<option class="fruit">スターフルーツ</option>
<option class="fruit">にほんすもも</option>
<option class="fruit">プルーン</option>
<option class="fruit">チェリモヤ</option>
<option class="fruit">日本なし</option>
<option class="fruit">中国なし</option>
<option class="fruit">西洋なし</option>
<option class="fruit">なつめやし</option>
<option class="fruit">パインアップル</option>
<option class="fruit">バナナ</option>
<option class="fruit">パパイア</option>
<option class="fruit">びわ</option>
<option class="fruit">ぶどう 皮なし</option>
<option class="fruit">ぶどうジャム</option>
<option class="fruit">ブルーベリー</option>
<option class="fruit">ブルーベリージャム</option>
<option class="fruit">ホワイトサポテ</option>
<option class="fruit">まくわうり 黄肉種</option>
<option class="fruit">まくわうり 白肉種</option>
<option class="fruit">マンゴー</option>
<option class="fruit">温室メロン</option>
<option class="fruit">露地メロン 緑肉種</option>
<option class="fruit">露地メロン 赤肉種</option>
<option class="fruit">もも(白肉種)</option>
<option class="fruit">もも(黄肉種)</option>
<option class="fruit">ネクタリン</option>
<option class="fruit">ライチー</option>
<option class="fruit">りゅうがん</option>
<option class="fruit">りんご</option>
<option class="fruit">りんごジャム</option>
