<option class="fruit" protein="" fat="" carb="" calorie="">アテモヤ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">アボカド</option>
<option class="fruit" protein="" fat="" carb="" calorie="">あんず</option>
<option class="fruit" protein="" fat="" carb="" calorie="">あんずジャム</option>
<option class="fruit" protein="" fat="" carb="" calorie="">いちご</option>
<option class="fruit" protein="" fat="" carb="" calorie="">いちごジャム</option>
<option class="fruit" protein="" fat="" carb="" calorie="">いちじく</option>
<option class="fruit" protein="" fat="" carb="" calorie="">うめ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">うめ 梅干し 塩漬</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オリーブ 塩漬 グリーンオリーブ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オリーブ 塩漬 ブラックオリーブ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オリーブ 塩漬 スタッフドオリーブ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">かき</option>
<option class="fruit" protein="" fat="" carb="" calorie="">いよかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">うんしゅうみかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オレンジ ネーブル</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オレンジ バレンシア 米国産</option>
<option class="fruit" protein="" fat="" carb="" calorie="">オロブランコ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">かわちばんかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">きよみ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">グレープフルーツ 白肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">グレープフルーツ 紅肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">さんぼうかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">しらぬひ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">せとか</option>
<option class="fruit" protein="" fat="" carb="" calorie="">なつみかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">はっさく</option>
<option class="fruit" protein="" fat="" carb="" calorie="">はるみ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ひゅうがなつ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ぶんたん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ぶんたん ざぼん漬
<option class="fruit" protein="" fat="" carb="" calorie="">ぽんかん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ゆず</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ライム</option>
<option class="fruit" protein="" fat="" carb="" calorie="">レモン</option>
<option class="fruit" protein="" fat="" carb="" calorie="">キウイフルーツ 緑肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">グァバ 赤肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">グァバ 白肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">くこ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ココナッツ ココナッツミルク</option>
<option class="fruit" protein="" fat="" carb="" calorie="">さくらんぼ 国産</option>
<option class="fruit" protein="" fat="" carb="" calorie="">さくらんぼ 米国産</option>
<option class="fruit" protein="" fat="" carb="" calorie="">すいか 赤肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">すいか 黄肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">カシス</option>
<option class="fruit" protein="" fat="" carb="" calorie="">スターフルーツ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">にほんすもも</option>
<option class="fruit" protein="" fat="" carb="" calorie="">プルーン</option>
<option class="fruit" protein="" fat="" carb="" calorie="">チェリモヤ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">日本なし</option>
<option class="fruit" protein="" fat="" carb="" calorie="">中国なし</option>
<option class="fruit" protein="" fat="" carb="" calorie="">西洋なし</option>
<option class="fruit" protein="" fat="" carb="" calorie="">なつめやし</option>
<option class="fruit" protein="" fat="" carb="" calorie="">パインアップル</option>
<option class="fruit" protein="" fat="" carb="" calorie="">バナナ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">パパイア</option>
<option class="fruit" protein="" fat="" carb="" calorie="">びわ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ぶどう 皮なし</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ぶどうジャム</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ブルーベリー</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ブルーベリージャム</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ホワイトサポテ</option>
<option class="fruit" protein="" fat="" carb="" calorie="">まくわうり 黄肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">まくわうり 白肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">マンゴー</option>
<option class="fruit" protein="" fat="" carb="" calorie="">温室メロン</option>
<option class="fruit" protein="" fat="" carb="" calorie="">露地メロン 緑肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">露地メロン 赤肉種</option>
<option class="fruit" protein="" fat="" carb="" calorie="">もも(白肉種)</option>
<option class="fruit" protein="" fat="" carb="" calorie="">もも(黄肉種)</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ネクタリン</option>
<option class="fruit" protein="" fat="" carb="" calorie="">ライチー</option>
<option class="fruit" protein="" fat="" carb="" calorie="">りゅうがん</option>
<option class="fruit" protein="" fat="" carb="" calorie="">りんご</option>
<option class="fruit" protein="" fat="" carb="" calorie="">りんごジャム</option>
