<option class="grain" protein="" fat="" carb="" calorie="">アマランサス 玄穀</option>
<option class="grain" protein="" fat="" carb="" calorie="">あわ 精白粒</option>
<option class="grain" protein="" fat="" carb="" calorie="">えんばく オートミール</option>
<option class="grain" protein="" fat="" carb="" calorie="">おおむぎ 押麦 めし</option>
<option class="grain" protein="" fat="" carb="" calorie="">おおむぎ 米粒麦</option>
<option class="grain" protein="" fat="" carb="" calorie="">大麦めん </option>
<option class="grain" protein="" fat="" carb="" calorie="">キヌア</option>
<option class="grain" protein="" fat="" carb="" calorie="">きび</option>
<option class="grain" protein="" fat="" carb="" calorie="">玄穀 国産</option>
<option class="grain" protein="" fat="" carb="" calorie="">薄力粉 1等</option>
<option class="grain" protein="" fat="" carb="" calorie="">薄力粉 2等</option>
<option class="grain" protein="" fat="" carb="" calorie="">中力粉 1等</option>
<option class="grain" protein="" fat="" carb="" calorie="">中力粉 2等</option>
<option class="grain" protein="" fat="" carb="" calorie="">強力粉 1等</option>
<option class="grain" protein="" fat="" carb="" calorie="">強力粉 2等</option>
<option class="grain" protein="" fat="" carb="" calorie="">強力粉 全粒粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">プレミックス粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">角形食パン 食パン</option>
<option class="grain" protein="" fat="" carb="" calorie="">コッペパン</option>
<option class="grain" protein="" fat="" carb="" calorie="">乾パン</option>
<option class="grain" protein="" fat="" carb="" calorie="">フランスパン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ライ麦パン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ぶどうパン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ロールパン</option>
<option class="grain" protein="" fat="" carb="" calorie="">クロワッサン</option>
<option class="grain" protein="" fat="" carb="" calorie="">イングリッシュマフィン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ナン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ベーグル</option>
<option class="grain" protein="" fat="" carb="" calorie="">うどん</option>
<option class="grain" protein="" fat="" carb="" calorie="">干しうどん</option>
<option class="grain" protein="" fat="" carb="" calorie="">そうめん・ひやむぎ</option>
<option class="grain" protein="" fat="" carb="" calorie="">手延そうめん・手延ひやむぎ</option>
<option class="grain" protein="" fat="" carb="" calorie="">中華めん</option>
<option class="grain" protein="" fat="" carb="" calorie="">沖縄そば</option>
<option class="grain" protein="" fat="" carb="" calorie="">マカロニ・スパゲッティ</option>
<option class="grain" protein="" fat="" carb="" calorie="">生パスタ</option>
<option class="grain" protein="" fat="" carb="" calorie="">生ふ</option>
<option class="grain" protein="" fat="" carb="" calorie="">釜焼きふ</option>
<option class="grain" protein="" fat="" carb="" calorie="">板ふ</option>
<option class="grain" protein="" fat="" carb="" calorie="">車ふ</option>
<option class="grain" protein="" fat="" carb="" calorie="">小麦はいが</option>
<option class="grain" protein="" fat="" carb="" calorie="">小麦たんぱく 粉末状</option>
<option class="grain" protein="" fat="" carb="" calorie="">小麦たんぱく 粒状</option>
<option class="grain" protein="" fat="" carb="" calorie="">ちくわぶ</option>
<option class="grain" protein="" fat="" carb="" calorie="">パン粉 生</option>
<option class="grain" protein="" fat="" carb="" calorie="">パン粉 半生</option>
<option class="grain" protein="" fat="" carb="" calorie="">パン粉 乾燥</option>
<option class="grain" protein="" fat="" carb="" calorie="">冷めん 生</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲穀粒］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲穀粒］ 精白米 うるち米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲穀粒］ 精白米 もち米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲穀粒］ 精白米 インディカ米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲穀粒］ 発芽玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲めし］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲めし］ 精白米 インディカ米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲めし］ 精白米 うるち米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲めし］ 精白米 もち米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲めし］ 発芽玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲全かゆ］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲全かゆ］ 精白米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲五分かゆ］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲五分かゆ］ 精白米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲おもゆ］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［水稲おもゆ］ 精白米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［陸稲穀粒］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［陸稲穀粒］ 精白米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［陸稲めし］ 玄米</option>
<option class="grain" protein="" fat="" carb="" calorie="">［陸稲めし］ 精白米</option>
<option class="grain" protein="" fat="" carb="" calorie="">アルファ化米 一般用</option>
<option class="grain" protein="" fat="" carb="" calorie="">おにぎり</option>
<option class="grain" protein="" fat="" carb="" calorie="">きりたんぽ</option>
<option class="grain" protein="" fat="" carb="" calorie="">上新粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">玄米粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">米粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">ビーフン</option>
<option class="grain" protein="" fat="" carb="" calorie="">ライスペーパー</option>
<option class="grain" protein="" fat="" carb="" calorie="">もち</option>
<option class="grain" protein="" fat="" carb="" calorie="">赤飯</option>
<option class="grain" protein="" fat="" carb="" calorie="">白玉粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">米ぬか</option>
<option class="grain" protein="" fat="" carb="" calorie="">そば米</option>
<option class="grain" protein="" fat="" carb="" calorie="">そば</option>
<option class="grain" protein="" fat="" carb="" calorie="">とうもろこし 玄穀 黄色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">とうもろこし 玄穀 白色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーンミール 黄色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーンミール 白色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーングリッツ 黄色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーングリッツ 白色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーンフラワー 黄色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーンフラワー 白色種</option>
<option class="grain" protein="" fat="" carb="" calorie="">ジャイアントコーン フライ 味付け</option>
<option class="grain" protein="" fat="" carb="" calorie="">ポップコーン</option>
<option class="grain" protein="" fat="" carb="" calorie="">コーンフレーク</option>
<option class="grain" protein="" fat="" carb="" calorie="">はとむぎ 精白粒</option>
<option class="grain" protein="" fat="" carb="" calorie="">ひえ 精白粒</option>
<option class="grain" protein="" fat="" carb="" calorie="">もろこし 玄穀</option>
<option class="grain" protein="" fat="" carb="" calorie="">もろこし 精白粒</option>
<option class="grain" protein="" fat="" carb="" calorie="">ライむぎ 全粒粉</option>
<option class="grain" protein="" fat="" carb="" calorie="">ライむぎ ライ麦粉</option>