<option class="grain">アマランサス 玄穀</option>
<option class="grain">あわ 精白粒</option>
<option class="grain">えんばく オートミール</option>
<option class="grain">おおむぎ 押麦 めし</option>
<option class="grain">おおむぎ 米粒麦</option>
<option class="grain">大麦めん </option>
<option class="grain">キヌア</option>
<option class="grain">きび</option>
<option class="grain">玄穀 国産</option>
<option class="grain">薄力粉 1等</option>
<option class="grain">薄力粉 2等</option>
<option class="grain">中力粉 1等</option>
<option class="grain">中力粉 2等</option>
<option class="grain">強力粉 1等</option>
<option class="grain">強力粉 2等</option>
<option class="grain">強力粉 全粒粉</option>
<option class="grain">プレミックス粉</option>
<option class="grain">角形食パン 食パン</option>
<option class="grain">コッペパン</option>
<option class="grain">乾パン</option>
<option class="grain">フランスパン</option>
<option class="grain">ライ麦パン</option>
<option class="grain">ぶどうパン</option>
<option class="grain">ロールパン</option>
<option class="grain">クロワッサン</option>
<option class="grain">イングリッシュマフィン</option>
<option class="grain">ナン</option>
<option class="grain">ベーグル</option>
<option class="grain">うどん</option>
<option class="grain">干しうどん</option>
<option class="grain">そうめん・ひやむぎ</option>
<option class="grain">手延そうめん・手延ひやむぎ</option>
<option class="grain">中華めん</option>
<option class="grain">沖縄そば</option>
<option class="grain">マカロニ・スパゲッティ</option>
<option class="grain">生パスタ</option>
<option class="grain">生ふ</option>
<option class="grain">釜焼きふ</option>
<option class="grain">板ふ</option>
<option class="grain">車ふ</option>
<option class="grain">小麦はいが</option>
<option class="grain">小麦たんぱく 粉末状</option>
<option class="grain">小麦たんぱく 粒状</option>
<option class="grain">ちくわぶ</option>
<option class="grain">パン粉 生</option>
<option class="grain">パン粉 半生</option>
<option class="grain">パン粉 乾燥</option>
<option class="grain">冷めん 生</option>
<option class="grain">［水稲穀粒］ 玄米</option>
<option class="grain">［水稲穀粒］ 精白米 うるち米</option>
<option class="grain">［水稲穀粒］ 精白米 もち米</option>
<option class="grain">［水稲穀粒］ 精白米 インディカ米</option>
<option class="grain">［水稲穀粒］ 発芽玄米</option>
<option class="grain">［水稲めし］ 玄米</option>
<option class="grain">［水稲めし］ 精白米 インディカ米</option>
<option class="grain">［水稲めし］ 精白米 うるち米</option>
<option class="grain">［水稲めし］ 精白米 もち米</option>
<option class="grain">［水稲めし］ 発芽玄米</option>
<option class="grain">［水稲全かゆ］ 玄米</option>
<option class="grain">［水稲全かゆ］ 精白米</option>
<option class="grain">［水稲五分かゆ］ 玄米</option>
<option class="grain">［水稲五分かゆ］ 精白米</option>
<option class="grain">［水稲おもゆ］ 玄米</option>
<option class="grain">［水稲おもゆ］ 精白米</option>
<option class="grain">［陸稲穀粒］ 玄米</option>
<option class="grain">［陸稲穀粒］ 精白米</option>
<option class="grain">［陸稲めし］ 玄米</option>
<option class="grain">［陸稲めし］ 精白米</option>
<option class="grain">アルファ化米 一般用</option>
<option class="grain">おにぎり</option>
<option class="grain">きりたんぽ</option>
<option class="grain">上新粉</option>
<option class="grain">玄米粉</option>
<option class="grain">米粉</option>
<option class="grain">ビーフン</option>
<option class="grain">ライスペーパー</option>
<option class="grain">もち</option>
<option class="grain">赤飯</option>
<option class="grain">白玉粉</option>
<option class="grain">米ぬか</option>
<option class="grain">そば米</option>
<option class="grain">そば</option>
<option class="grain">とうもろこし 玄穀 黄色種</option>
<option class="grain">とうもろこし 玄穀 白色種</option>
<option class="grain">コーンミール 黄色種</option>
<option class="grain">コーンミール 白色種</option>
<option class="grain">コーングリッツ 黄色種</option>
<option class="grain">コーングリッツ 白色種</option>
<option class="grain">コーンフラワー 黄色種</option>
<option class="grain">コーンフラワー 白色種</option>
<option class="grain">ジャイアントコーン フライ 味付け</option>
<option class="grain">ポップコーン</option>
<option class="grain">コーンフレーク</option>
<option class="grain">はとむぎ 精白粒</option>
<option class="grain">ひえ 精白粒</option>
<option class="grain">もろこし 玄穀</option>
<option class="grain">もろこし 精白粒</option>
<option class="grain">ライむぎ 全粒粉</option>
<option class="grain">ライむぎ ライ麦粉</option>