<option class="milk">牛乳 ジャージー種</option>
<option class="milk">牛乳 ホルスタイン種</option>
<option class="milk">普通牛乳</option>
<option class="milk">脱脂乳</option>
<option class="milk">加工乳 濃厚</option>
<option class="milk">加工乳 低脂肪</option>
<option class="milk">乳飲料 コーヒー</option>
<option class="milk">全粉乳</option>
<option class="milk">脱脂粉乳</option>
<option class="milk">乳児用調製粉乳</option>
<option class="milk">無糖練乳</option>
<option class="milk">加糖練乳</option>
<option class="milk">クリーム 乳脂肪</option>
<option class="milk">クリーム 乳脂肪・植物性脂肪</option>
<option class="milk">クリーム 植物性脂肪</option>
<option class="milk">ホイップクリーム 乳脂肪</option>
<option class="milk">ホイップクリーム 乳脂肪・植物性脂肪</option>
<option class="milk">ホイップクリーム 植物性脂肪</option>
<option class="milk">コーヒーホワイトナー 液状 乳脂肪</option>
<option class="milk">コーヒーホワイトナー 液状 乳脂肪・植物性脂肪</option>
<option class="milk">コーヒーホワイトナー 液状 植物性脂肪</option>
<option class="milk">コーヒーホワイトナー 粉末状 乳脂肪</option>
<option class="milk">コーヒーホワイトナー 粉末状 植物性脂肪</option>
<option class="milk">ヨーグルト 全脂無糖</option>
<option class="milk">ヨーグルト 低脂肪無糖</option>
<option class="milk">ヨーグルト 無脂肪無糖</option>
<option class="milk">ヨーグルト 脱脂加糖</option>
<option class="milk">ヨーグルト ドリンクタイプ 加糖</option>
<option class="milk">乳酸菌飲料 乳製品</option>
<option class="milk">乳酸菌飲料 殺菌乳製品</option>
<option class="milk">乳酸菌飲料 非乳製品</option>
<option class="milk">エダム</option>
<option class="milk">エメンタール</option>
<option class="milk">カテージ</option>
<option class="milk">カマンベール</option>
<option class="milk">クリーム</option>
<option class="milk">ゴーダ</option>
<option class="milk">チェダー</option>
<option class="milk">パルメザン</option>
<option class="milk">ブルー</option>
<option class="milk">マスカルポーネ</option>
<option class="milk">やぎ</option>
<option class="milk">プロセスチーズ</option>
<option class="milk">アイスクリーム</option>
<option class="milk">アイスミルク</option>
<option class="milk">ラクトアイス</option>
<option class="milk">ソフトクリーム</option>
<option class="milk">カゼイン</option>
<option class="milk">チーズホエーパウダー</option>
<option class="milk">人乳</option>
<option class="milk">やぎ乳</option>
