<option class="mushroom" protein="" fat="" carb="" calorie="">えのきたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">あらげきくらげ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">きくらげ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">しろきくらげ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">くろあわびたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">しいたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">ぶなしめじ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">たもぎたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">なめこ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">ぬめりすぎたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">うすひらたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">エリンギ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">ひらたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">まいたけ</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">マッシュルーム</option>
<option class="mushroom" protein="" fat="" carb="" calorie="">まつたけ</option>