<option class="mushroom">えのきたけ</option>
<option class="mushroom">あらげきくらげ</option>
<option class="mushroom">きくらげ</option>
<option class="mushroom">しろきくらげ</option>
<option class="mushroom">くろあわびたけ</option>
<option class="mushroom">しいたけ</option>
<option class="mushroom">ぶなしめじ</option>
<option class="mushroom">たもぎたけ</option>
<option class="mushroom">なめこ</option>
<option class="mushroom">ぬめりすぎたけ</option>
<option class="mushroom">うすひらたけ</option>
<option class="mushroom">エリンギ</option>
<option class="mushroom">ひらたけ</option>
<option class="mushroom">まいたけ</option>
<option class="mushroom">マッシュルーム</option>
<option class="mushroom">まつたけ</option>