<option class="nuts">アーモンド</option>
<option class="nuts">あさ</option>
<option class="nuts">あまに</option>
<option class="nuts">えごま</option>
<option class="nuts">カシューナッツ</option>
<option class="nuts">かぼちゃ</option>
<option class="nuts">ぎんなん</option>
<option class="nuts">日本ぐり</option>
<option class="nuts">日本ぐり 甘露煮</option>
<option class="nuts">中国ぐり 甘ぐり</option>
<option class="nuts">くるみ</option>
<option class="nuts">けし</option>
<option class="nuts">ココナッツ ココナッツパウダー</option>
<option class="nuts">ごま</option>
<option class="nuts">ごま 煉</option>
<option class="nuts">しい</option>
<option class="nuts">すいか</option>
<option class="nuts">チアシード</option>
<option class="nuts">とち</option>
<option class="nuts">はす</option>
<option class="nuts">ひし</option>
<option class="nuts">とうびし</option>
<option class="nuts">ピスタチオ</option>
<option class="nuts">ひまわり</option>
<option class="nuts">ブラジルナッツ</option>
<option class="nuts">ヘーゼルナッツ</option>
<option class="nuts">ペカン</option>
<option class="nuts">マカダミアナッツ</option>
<option class="nuts">まつ</option>
<option class="nuts">らっかせい 大粒種</option>
<option class="nuts">らっかせい 小粒種</option>
<option class="nuts">バターピーナッツ</option>
<option class="nuts">ピーナッツバター</option>