<option class="nuts" protein="" fat="" carb="" calorie="">アーモンド</option>
<option class="nuts" protein="" fat="" carb="" calorie="">あさ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">あまに</option>
<option class="nuts" protein="" fat="" carb="" calorie="">えごま</option>
<option class="nuts" protein="" fat="" carb="" calorie="">カシューナッツ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">かぼちゃ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ぎんなん</option>
<option class="nuts" protein="" fat="" carb="" calorie="">日本ぐり</option>
<option class="nuts" protein="" fat="" carb="" calorie="">日本ぐり 甘露煮</option>
<option class="nuts" protein="" fat="" carb="" calorie="">中国ぐり 甘ぐり</option>
<option class="nuts" protein="" fat="" carb="" calorie="">くるみ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">けし</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ココナッツ ココナッツパウダー</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ごま</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ごま 煉</option>
<option class="nuts" protein="" fat="" carb="" calorie="">しい</option>
<option class="nuts" protein="" fat="" carb="" calorie="">すいか</option>
<option class="nuts" protein="" fat="" carb="" calorie="">チアシード</option>
<option class="nuts" protein="" fat="" carb="" calorie="">とち</option>
<option class="nuts" protein="" fat="" carb="" calorie="">はす</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ひし</option>
<option class="nuts" protein="" fat="" carb="" calorie="">とうびし</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ピスタチオ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ひまわり</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ブラジルナッツ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ヘーゼルナッツ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ペカン</option>
<option class="nuts" protein="" fat="" carb="" calorie="">マカダミアナッツ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">まつ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">らっかせい 大粒種</option>
<option class="nuts" protein="" fat="" carb="" calorie="">らっかせい 小粒種</option>
<option class="nuts" protein="" fat="" carb="" calorie="">バターピーナッツ</option>
<option class="nuts" protein="" fat="" carb="" calorie="">ピーナッツバター</option>