<option class="off-the-shelf" protein="" fat="" carb="" calorie="">松前漬け</option>
<option class="off-the-shelf" protein="" fat="" carb="" calorie="">ポテトコロッケ</option>
<option class="off-the-shelf" protein="" fat="" carb="" calorie="">ぎょうざ</option>
<option class="off-the-shelf" protein="" fat="" carb="" calorie="">しゅうまい</option>