<option class="oils" protein="" fat="" carb="" calorie="">たらのあぶら</option>
<option class="oils" protein="" fat="" carb="" calorie="">無発酵バター</option>
<option class="oils" protein="" fat="" carb="" calorie="">発酵バター</option>
<option class="oils" protein="" fat="" carb="" calorie="">マーガリン</option>
<option class="oils" protein="" fat="" carb="" calorie="">ファットスプレッド</option>