<option class="pastry">甘納豆 あずき</option>
<option class="pastry">甘納豆 いんげんまめ</option>
<option class="pastry">甘納豆 えんどう</option>
<option class="pastry">今川焼 こしあん入り</option>
<option class="pastry">ういろう 白</option>
<option class="pastry">うぐいすもち こしあん入り</option>
<option class="pastry">かしわもち こしあん入り</option>
<option class="pastry">カステラ</option>
<option class="pastry">かのこ</option>
<option class="pastry">かるかん</option>
<option class="pastry">きび団子</option>
<option class="pastry">ぎゅうひ</option>
<option class="pastry">きりざんしょ</option>
<option class="pastry">きんつば</option>
<option class="pastry">草もち こしあん入り</option>
<option class="pastry">くし団子 あん こしあん入り</option>
<option class="pastry">くし団子 みたらし</option>
<option class="pastry">げっぺい</option>
<option class="pastry">五平もち</option>
<option class="pastry">桜もち 関西風</option>
<option class="pastry">桜もち 関東風</option>
<option class="pastry">大福もち</option>
<option class="pastry">ちまき</option>
<option class="pastry">ちゃつう</option>
<option class="pastry">どら焼</option>
<option class="pastry">生八つ橋</option>
<option class="pastry">ねりきり</option>
<option class="pastry">まんじゅう</option>
<option class="pastry">中華まんじゅう</option>
<option class="pastry">もなか</option>
<option class="pastry">ゆべし</option>
<option class="pastry">ようかん</option>
<option class="pastry">芋かりんとう</option>
<option class="pastry">おこし</option>
<option class="pastry">おのろけ豆</option>
<option class="pastry">かりんとう</option>
<option class="pastry">ごかぼう</option>
<option class="pastry">しおがま</option>
<option class="pastry">ひなあられ</option>
<option class="pastry">あられ</option>
<option class="pastry">せんべい</option>
<option class="pastry">ボーロ</option>
<option class="pastry">松風</option>
<option class="pastry">みしま豆</option>
<option class="pastry">八つ橋</option>
<option class="pastry">らくがん</option>
<option class="pastry">揚げパン</option>
<option class="pastry">あんパン</option>
<option class="pastry">カレーパン</option>
<option class="pastry">クリームパン</option>
<option class="pastry">ジャムパン</option>
<option class="pastry">チョココロネ</option>
<option class="pastry">チョコパン</option>
<option class="pastry">メロンパン</option>
<option class="pastry">シュークリーム</option>
<option class="pastry">スポンジケーキ</option>
<option class="pastry">ショートケーキ</option>
<option class="pastry">タルト</option>
<option class="pastry">チーズケーキ</option>
<option class="pastry">デニッシュペストリー</option>
<option class="pastry">ドーナッツ</option>
<option class="pastry">パイ</option>
<option class="pastry">バターケーキ</option>
<option class="pastry">ホットケーキ</option>
<option class="pastry">ワッフル</option>
<option class="pastry">カスタードプリン</option>
<option class="pastry">牛乳寒天</option>
<option class="pastry">ゼリー</option>
<option class="pastry">ババロア</option>
<option class="pastry">ウエハース</option>
<option class="pastry">クラッカー</option>
<option class="pastry">サブレ</option>
<option class="pastry">中華風クッキー</option>
<option class="pastry">ビスケット</option>
<option class="pastry">プレッツェル</option>
<option class="pastry">リーフパイ</option>
<option class="pastry">ロシアケーキ</option>
<option class="pastry">コーンスナック</option>
<option class="pastry">ポテトチップス</option>
<option class="pastry">キャラメル</option>
<option class="pastry">ブリットル</option>
<option class="pastry">マシュマロ</option>
<option class="pastry">アーモンドチョコレート</option>
<option class="pastry">カバーリングチョコレート</option>
<option class="pastry">ミルクチョコレート</option>
<option class="pastry">マロングラッセ</option>
<option class="pastry">カスタードクリーム</option>
<option class="pastry">しるこ</option>
