<option class="pastry" protein="" fat="" carb="" calorie="">甘納豆 あずき</option>
<option class="pastry" protein="" fat="" carb="" calorie="">甘納豆 いんげんまめ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">甘納豆 えんどう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">今川焼 こしあん入り</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ういろう 白</option>
<option class="pastry" protein="" fat="" carb="" calorie="">うぐいすもち こしあん入り</option>
<option class="pastry" protein="" fat="" carb="" calorie="">かしわもち こしあん入り</option>
<option class="pastry" protein="" fat="" carb="" calorie="">カステラ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">かのこ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">かるかん</option>
<option class="pastry" protein="" fat="" carb="" calorie="">きび団子</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ぎゅうひ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">きりざんしょ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">きんつば</option>
<option class="pastry" protein="" fat="" carb="" calorie="">草もち こしあん入り</option>
<option class="pastry" protein="" fat="" carb="" calorie="">くし団子 あん こしあん入り</option>
<option class="pastry" protein="" fat="" carb="" calorie="">くし団子 みたらし</option>
<option class="pastry" protein="" fat="" carb="" calorie="">げっぺい</option>
<option class="pastry" protein="" fat="" carb="" calorie="">五平もち</option>
<option class="pastry" protein="" fat="" carb="" calorie="">桜もち 関西風</option>
<option class="pastry" protein="" fat="" carb="" calorie="">桜もち 関東風</option>
<option class="pastry" protein="" fat="" carb="" calorie="">大福もち</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ちまき</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ちゃつう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">どら焼</option>
<option class="pastry" protein="" fat="" carb="" calorie="">生八つ橋</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ねりきり</option>
<option class="pastry" protein="" fat="" carb="" calorie="">まんじゅう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">中華まんじゅう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">もなか</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ゆべし</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ようかん</option>
<option class="pastry" protein="" fat="" carb="" calorie="">芋かりんとう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">おこし</option>
<option class="pastry" protein="" fat="" carb="" calorie="">おのろけ豆</option>
<option class="pastry" protein="" fat="" carb="" calorie="">かりんとう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ごかぼう</option>
<option class="pastry" protein="" fat="" carb="" calorie="">しおがま</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ひなあられ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">あられ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">せんべい</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ボーロ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">松風</option>
<option class="pastry" protein="" fat="" carb="" calorie="">みしま豆</option>
<option class="pastry" protein="" fat="" carb="" calorie="">八つ橋</option>
<option class="pastry" protein="" fat="" carb="" calorie="">らくがん</option>
<option class="pastry" protein="" fat="" carb="" calorie="">揚げパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">あんパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">カレーパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">クリームパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ジャムパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">チョココロネ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">チョコパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">メロンパン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">シュークリーム</option>
<option class="pastry" protein="" fat="" carb="" calorie="">スポンジケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ショートケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">タルト</option>
<option class="pastry" protein="" fat="" carb="" calorie="">チーズケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">デニッシュペストリー</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ドーナッツ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">パイ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">バターケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ホットケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ワッフル</option>
<option class="pastry" protein="" fat="" carb="" calorie="">カスタードプリン</option>
<option class="pastry" protein="" fat="" carb="" calorie="">牛乳寒天</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ゼリー</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ババロア</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ウエハース</option>
<option class="pastry" protein="" fat="" carb="" calorie="">クラッカー</option>
<option class="pastry" protein="" fat="" carb="" calorie="">サブレ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">中華風クッキー</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ビスケット</option>
<option class="pastry" protein="" fat="" carb="" calorie="">プレッツェル</option>
<option class="pastry" protein="" fat="" carb="" calorie="">リーフパイ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ロシアケーキ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">コーンスナック</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ポテトチップス</option>
<option class="pastry" protein="" fat="" carb="" calorie="">キャラメル</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ブリットル</option>
<option class="pastry" protein="" fat="" carb="" calorie="">マシュマロ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">アーモンドチョコレート</option>
<option class="pastry" protein="" fat="" carb="" calorie="">カバーリングチョコレート</option>
<option class="pastry" protein="" fat="" carb="" calorie="">ミルクチョコレート</option>
<option class="pastry" protein="" fat="" carb="" calorie="">マロングラッセ</option>
<option class="pastry" protein="" fat="" carb="" calorie="">カスタードクリーム</option>
<option class="pastry" protein="" fat="" carb="" calorie="">しるこ</option>
