<option class="potato" protein="" fat="" carb="" calorie="">アメリカほどいも</option>
<option class="potato" protein="" fat="" carb="" calorie="">さつまいも 皮つき</option>
<option class="potato" protein="" fat="" carb="" calorie="">さつまいも 皮なし</option>
<option class="potato" protein="" fat="" carb="" calorie="">さつまいも 蒸し切干</option>
<option class="potato" protein="" fat="" carb="" calorie="">むらさきいも</option>
<option class="potato" protein="" fat="" carb="" calorie="">さといも</option>
<option class="potato" protein="" fat="" carb="" calorie="">セレベス</option>
<option class="potato" protein="" fat="" carb="" calorie="">たけのこいも</option>
<option class="potato" protein="" fat="" carb="" calorie="">みずいも</option>
<option class="potato" protein="" fat="" carb="" calorie="">やつがしら</option>
<option class="potato" protein="" fat="" carb="" calorie="">じゃがいも 皮つき</option>
<option class="potato" protein="" fat="" carb="" calorie="">じゃがいも 皮なし</option>
<option class="potato" protein="" fat="" carb="" calorie="">フライドポテト</option>
<option class="potato" protein="" fat="" carb="" calorie="">乾燥マッシュポテト</option>
<option class="potato" protein="" fat="" carb="" calorie="">いちょういも</option>
<option class="potato" protein="" fat="" carb="" calorie="">ながいも</option>
<option class="potato" protein="" fat="" carb="" calorie="">やまといも</option>
<option class="potato" protein="" fat="" carb="" calorie="">じねんじょ</option>
<option class="potato" protein="" fat="" carb="" calorie="">だいじょ</option>