<option class="potato">アメリカほどいも</option>
<option class="potato">さつまいも 皮つき</option>
<option class="potato">さつまいも 皮なし</option>
<option class="potato">さつまいも 蒸し切干</option>
<option class="potato">むらさきいも</option>
<option class="potato">さといも</option>
<option class="potato">セレベス</option>
<option class="potato">たけのこいも</option>
<option class="potato">みずいも</option>
<option class="potato">やつがしら</option>
<option class="potato">じゃがいも 皮つき</option>
<option class="potato">じゃがいも 皮なし</option>
<option class="potato">フライドポテト</option>
<option class="potato">乾燥マッシュポテト</option>
<option class="potato">いちょういも</option>
<option class="potato">ながいも</option>
<option class="potato">やまといも</option>
<option class="potato">じねんじょ</option>
<option class="potato">だいじょ</option>