<option class="seafood">あいなめ</option>
<option class="seafood">あこうだい</option>
<option class="seafood">まあじ</option>
<option class="seafood">まるあじ</option>
<option class="seafood">にしまあじ</option>
<option class="seafood">むろあじ</option>
<option class="seafood">あなご</option>
<option class="seafood">あまご</option>
<option class="seafood">あまだい</option>
<option class="seafood">あゆ</option>
<option class="seafood">アラスカめぬけ</option>
<option class="seafood">あんこう</option>
<option class="seafood">あんこう きも</option>
<option class="seafood">いかなご</option>
<option class="seafood">いさき</option>
<option class="seafood">いしだい</option>
<option class="seafood">いとよりだい</option>
<option class="seafood">いぼだい</option>
<option class="seafood">うるめいわし</option>
<option class="seafood">かたくちいわし</option>
<option class="seafood">まいわし</option>
<option class="seafood">めざし</option>
<option class="seafood">しらす 釜揚げしらす</option>
<option class="seafood">たたみいわし</option>
<option class="seafood">缶詰 アンチョビ</option>
<option class="seafood">うぐい</option>
<option class="seafood">うなぎ 白焼き</option>
<option class="seafood">うなぎ かば焼</option>
<option class="seafood">うまづらはぎ</option>
<option class="seafood">えい</option>
<option class="seafood">えそ</option>
<option class="seafood">おいかわ</option>
<option class="seafood">おおさが</option>
<option class="seafood">おこぜ</option>
<option class="seafood">おひょう</option>
<option class="seafood">かさご</option>
<option class="seafood">かじか</option>
<option class="seafood">くろかじき</option>
<option class="seafood">まかじき</option>
<option class="seafood">めかじき</option>
<option class="seafood">かつお 春獲り</option>
<option class="seafood">かつお 秋獲り</option>
<option class="seafood">そうだがつお</option>
<option class="seafood">かます</option>
<option class="seafood">まがれい</option>
<option class="seafood">まこがれい</option>
<option class="seafood">かわはぎ</option>
<option class="seafood">かんぱち</option>
<option class="seafood">きす</option>
<option class="seafood">きちじ</option>
<option class="seafood">きびなご</option>
<option class="seafood">キャビア</option>
<option class="seafood">キングクリップ</option>
<option class="seafood">ぎんだら</option>
<option class="seafood">きんめだい</option>
<option class="seafood">ぐち</option>
<option class="seafood">こい</option>
<option class="seafood">まごち</option>
<option class="seafood">めごち</option>
<option class="seafood">このしろ</option>
<option class="seafood">からふとます</option>
<option class="seafood">ぎんざけ</option>
<option class="seafood">さくらます</option>
<option class="seafood">しろさけ</option>
<option class="seafood">イクラ</option>
<option class="seafood">すじこ</option>
<option class="seafood">たいせいようさけ</option>
<option class="seafood">にじます</option>
<option class="seafood">べにざけ</option>
<option class="seafood">ますのすけ</option>
<option class="seafood">まさば</option>
<option class="seafood">ごまさば</option>
<option class="seafood">たいせいようさば</option>
<option class="seafood">（さば類） 缶詰 水煮</option>
<option class="seafood">（さば類） 缶詰 みそ煮</option>
<option class="seafood">あぶらつのざめ</option>
<option class="seafood">よしきりざめ</option>
<option class="seafood">ふかひれ</option>
<option class="seafood">さより</option>
<option class="seafood">さわら</option>
<option class="seafood">さんま</option>
<option class="seafood">しいら</option>
<option class="seafood">ししゃも</option>
<option class="seafood">したびらめ</option>
<option class="seafood">しまあじ</option>
<option class="seafood">しらうお</option>
<option class="seafood">シルバー</option>
<option class="seafood">すずき</option>
<option class="seafood">きだい</option>
<option class="seafood">くろだい</option>
<option class="seafood">ちだい</option>
<option class="seafood">まだい</option>
<option class="seafood">たかさご</option>
<option class="seafood">たかべ</option>
<option class="seafood">たちうお</option>
<option class="seafood">すけとうだら</option>
<option class="seafood">すきみだら</option>
<option class="seafood">たらこ</option>
<option class="seafood">からしめんたいこ
<option class="seafood">まだら</option>
<option class="seafood">まだら しらこ</option>
<option class="seafood">加工品 桜でんぶ
<option class="seafood">ちか</option>
<option class="seafood">どじょう</option>
<option class="seafood">とびうお</option>
<option class="seafood">ナイルティラピア</option>
<option class="seafood">なまず</option>
<option class="seafood">にぎす</option>
<option class="seafood">にしん</option>
<option class="seafood">かずのこ</option>
<option class="seafood">はぜ</option>
<option class="seafood">はたはた</option>
<option class="seafood">はまふえふき</option>
<option class="seafood">はも</option>
<option class="seafood">ひらまさ</option>
<option class="seafood">ひらめ</option>
<option class="seafood">とらふぐ</option>
<option class="seafood">まふぐ</option>
<option class="seafood">ぶり</option>
<option class="seafood">はまち</option>
<option class="seafood">ほうぼう</option>
<option class="seafood">ホキ</option>
<option class="seafood">ほっけ</option>
<option class="seafood">ぼら</option>
<option class="seafood">ほんもろこ</option>
<option class="seafood">きはだ</option>
<option class="seafood">くろまぐろ</option>
<option class="seafood">びんなが</option>
<option class="seafood">みなみまぐろ</option>
<option class="seafood">めじまぐろ</option>
<option class="seafood">めばち</option>
<option class="seafood">（まぐろ類） 缶詰 水煮 フレーク ライト</option>
<option class="seafood">（まぐろ類） 缶詰 水煮 フレーク ホワイト</option>
<option class="seafood">（まぐろ類） 缶詰 味付け フレーク</option>
<option class="seafood">（まぐろ類） 缶詰 油漬 フレーク ライト</option>
<option class="seafood">（まぐろ類） 缶詰 油漬 フレーク ホワイト</option>
<option class="seafood">マジェランあいなめ</option>
<option class="seafood">まながつお</option>
<option class="seafood">みなみくろた</option>
<option class="seafood">みなみだら</option>
<option class="seafood">むつ</option>
<option class="seafood">めじな</option>
<option class="seafood">めばる</option>
<option class="seafood">メルルーサ</option>
<option class="seafood">やまめ</option>
<option class="seafood">わかさぎ</option>
<option class="seafood">あかがい</option>
<option class="seafood">あげまき</option>
<option class="seafood">あさり</option>
<option class="seafood">くろあわび</option>
<option class="seafood">まだかあわび</option>
<option class="seafood">めがいあわび</option>
<option class="seafood">いがい</option>
<option class="seafood">いたやがい</option>
<option class="seafood">エスカルゴ 水煮缶詰
<option class="seafood">かき</option>
<option class="seafood">さざえ</option>
<option class="seafood">さるぼう 味付け缶詰
<option class="seafood">しじみ</option>
<option class="seafood">たいらがい</option>
<option class="seafood">たにし</option>
<option class="seafood">つぶ</option>
<option class="seafood">とこぶし</option>
<option class="seafood">とりがい</option>
<option class="seafood">ばい</option>
<option class="seafood">ばかがい</option>
<option class="seafood">はまぐり</option>
<option class="seafood">ちょうせんはまぐり</option>
<option class="seafood">ほたてがい</option>
<option class="seafood">ほたてがい 貝柱</option>
<option class="seafood">ほっきがい</option>
<option class="seafood">みるがい</option>
<option class="seafood">あまえび </option>
<option class="seafood">いせえび</option>
<option class="seafood">くるまえび</option>
<option class="seafood">さくらえび</option>
<option class="seafood">大正えび</option>
<option class="seafood">しばえび</option>
<option class="seafood">バナメイえび</option>
<option class="seafood">ブラックタイガー</option>
<option class="seafood">干しえび</option>
<option class="seafood">つくだ煮</option>
<option class="seafood">がざみ</option>
<option class="seafood">毛がに</option>
<option class="seafood">ずわいがに</option>
<option class="seafood">たらばがに</option>
<option class="seafood">がん漬</option>
<option class="seafood">あかいか</option>
<option class="seafood">けんさきいか</option>
<option class="seafood">こういか</option>
<option class="seafood">するめいか</option>
<option class="seafood">ほたるいか</option>
<option class="seafood">やりいか</option>
<option class="seafood">するめ</option>
<option class="seafood">さきいか</option>
<option class="seafood">くん製</option>
<option class="seafood">切りいかあめ煮</option>
<option class="seafood">いかあられ</option>
<option class="seafood">塩辛</option>
<option class="seafood">味付け缶詰</option>
<option class="seafood">いいだこ</option>
<option class="seafood">まだこ</option>
<option class="seafood">みずだこ</option>
<option class="seafood">あみ</option>
<option class="seafood">うに</option>
<option class="seafood">おきあみ</option>
<option class="seafood">しゃこ</option>
<option class="seafood">なまこ</option>
<option class="seafood">かに風味かまぼこ</option>
<option class="seafood">黒はんぺん</option>
<option class="seafood">す巻きかまぼこ</option>
<option class="seafood">蒸しかまぼこ</option>
<option class="seafood">焼き抜きかまぼこ</option>
<option class="seafood">焼き竹輪</option>
<option class="seafood">魚肉ハム</option>
<option class="seafood">魚肉ソーセージ</option>