<option class="seafood" protein="" fat="" carb="" calorie="">あいなめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あこうだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まあじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まるあじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">にしまあじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">むろあじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あなご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あまご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あまだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あゆ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">アラスカめぬけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あんこう</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あんこう きも</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いかなご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いさき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いしだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いとよりだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いぼだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うるめいわし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かたくちいわし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まいわし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めざし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しらす 釜揚げしらす</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たたみいわし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">缶詰 アンチョビ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うぐい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うなぎ 白焼き</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うなぎ かば焼</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うまづらはぎ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">えい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">えそ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">おいかわ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">おおさが</option>
<option class="seafood" protein="" fat="" carb="" calorie="">おこぜ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">おひょう</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かさご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かじか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くろかじき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まかじき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めかじき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かつお 春獲り</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かつお 秋獲り</option>
<option class="seafood" protein="" fat="" carb="" calorie="">そうだがつお</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かます</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まがれい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まこがれい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かわはぎ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かんぱち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きす</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きちじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きびなご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">キャビア</option>
<option class="seafood" protein="" fat="" carb="" calorie="">キングクリップ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ぎんだら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きんめだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ぐち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">こい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まごち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めごち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">このしろ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">からふとます</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ぎんざけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さくらます</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しろさけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">イクラ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">すじこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たいせいようさけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">にじます</option>
<option class="seafood" protein="" fat="" carb="" calorie="">べにざけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ますのすけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まさば</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ごまさば</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たいせいようさば</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（さば類） 缶詰 水煮</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（さば類） 缶詰 みそ煮</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あぶらつのざめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">よしきりざめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ふかひれ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さより</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さわら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さんま</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しいら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ししゃも</option>
<option class="seafood" protein="" fat="" carb="" calorie="">したびらめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しまあじ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しらうお</option>
<option class="seafood" protein="" fat="" carb="" calorie="">シルバー</option>
<option class="seafood" protein="" fat="" carb="" calorie="">すずき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くろだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ちだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まだい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たかさご</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たかべ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たちうお</option>
<option class="seafood" protein="" fat="" carb="" calorie="">すけとうだら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">すきみだら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たらこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">からしめんたいこ
<option class="seafood" protein="" fat="" carb="" calorie="">まだら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まだら しらこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">加工品 桜でんぶ
<option class="seafood" protein="" fat="" carb="" calorie="">ちか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">どじょう</option>
<option class="seafood" protein="" fat="" carb="" calorie="">とびうお</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ナイルティラピア</option>
<option class="seafood" protein="" fat="" carb="" calorie="">なまず</option>
<option class="seafood" protein="" fat="" carb="" calorie="">にぎす</option>
<option class="seafood" protein="" fat="" carb="" calorie="">にしん</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かずのこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はぜ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はたはた</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はまふえふき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はも</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ひらまさ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ひらめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">とらふぐ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まふぐ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ぶり</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はまち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほうぼう</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ホキ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほっけ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ぼら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほんもろこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">きはだ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くろまぐろ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">びんなが</option>
<option class="seafood" protein="" fat="" carb="" calorie="">みなみまぐろ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めじまぐろ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めばち</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（まぐろ類） 缶詰 水煮 フレーク ライト</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（まぐろ類） 缶詰 水煮 フレーク ホワイト</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（まぐろ類） 缶詰 味付け フレーク</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（まぐろ類） 缶詰 油漬 フレーク ライト</option>
<option class="seafood" protein="" fat="" carb="" calorie="">（まぐろ類） 缶詰 油漬 フレーク ホワイト</option>
<option class="seafood" protein="" fat="" carb="" calorie="">マジェランあいなめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まながつお</option>
<option class="seafood" protein="" fat="" carb="" calorie="">みなみくろた</option>
<option class="seafood" protein="" fat="" carb="" calorie="">みなみだら</option>
<option class="seafood" protein="" fat="" carb="" calorie="">むつ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めじな</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めばる</option>
<option class="seafood" protein="" fat="" carb="" calorie="">メルルーサ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">やまめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">わかさぎ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あかがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あげまき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あさり</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くろあわび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まだかあわび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">めがいあわび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いたやがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">エスカルゴ 水煮缶詰
<option class="seafood" protein="" fat="" carb="" calorie="">かき</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さざえ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さるぼう 味付け缶詰
<option class="seafood" protein="" fat="" carb="" calorie="">しじみ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たいらがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たにし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">つぶ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">とこぶし</option>
<option class="seafood" protein="" fat="" carb="" calorie="">とりがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ばい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ばかがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">はまぐり</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ちょうせんはまぐり</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほたてがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほたてがい 貝柱</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほっきがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">みるがい</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あまえび </option>
<option class="seafood" protein="" fat="" carb="" calorie="">いせえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くるまえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さくらえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">大正えび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しばえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">バナメイえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ブラックタイガー</option>
<option class="seafood" protein="" fat="" carb="" calorie="">干しえび</option>
<option class="seafood" protein="" fat="" carb="" calorie="">つくだ煮</option>
<option class="seafood" protein="" fat="" carb="" calorie="">がざみ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">毛がに</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ずわいがに</option>
<option class="seafood" protein="" fat="" carb="" calorie="">たらばがに</option>
<option class="seafood" protein="" fat="" carb="" calorie="">がん漬</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あかいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">けんさきいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">こういか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">するめいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">ほたるいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">やりいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">するめ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">さきいか</option>
<option class="seafood" protein="" fat="" carb="" calorie="">くん製</option>
<option class="seafood" protein="" fat="" carb="" calorie="">切りいかあめ煮</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いかあられ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">塩辛</option>
<option class="seafood" protein="" fat="" carb="" calorie="">味付け缶詰</option>
<option class="seafood" protein="" fat="" carb="" calorie="">いいだこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">まだこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">みずだこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">あみ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">うに</option>
<option class="seafood" protein="" fat="" carb="" calorie="">おきあみ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">しゃこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">なまこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">かに風味かまぼこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">黒はんぺん</option>
<option class="seafood" protein="" fat="" carb="" calorie="">す巻きかまぼこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">蒸しかまぼこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">焼き抜きかまぼこ</option>
<option class="seafood" protein="" fat="" carb="" calorie="">焼き竹輪</option>
<option class="seafood" protein="" fat="" carb="" calorie="">魚肉ハム</option>
<option class="seafood" protein="" fat="" carb="" calorie="">魚肉ソーセージ</option>