<option class="vegetable" protein="" fat="" carb="" calorie="">アーティチョーク</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">あさつき</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">あしたば</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">アスパラガ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">いんげんまめ さやいんげん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">うど</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">やまうど</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">うるい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">えだまめ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">エンダイブ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">トウミョウ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">さやえんどう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">スナップえんどう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">グリンピース</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">おおさかしろな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">おおさかしろな 塩漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">オクラ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">かぶ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">かぶ 漬物</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">日本かぼちゃ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">西洋かぼちゃ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">そうめんかぼちゃ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">からしな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">からしな 塩漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">カリフラワー</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">かんぴょう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">かんぴょう 甘煮</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きく</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">菊のり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">キャベツ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">グリーンボール</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">レッドキャベツ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きゅうり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きゅうり 塩漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きゅうり ピクルス スイート型</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きゅうり ピクルス サワー型</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ぎょうじゃにんにく</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">キンサイ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">クレソン</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ケール</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">コールラビ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">こごみ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ごぼう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">こまつな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ザーサイ 漬物</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">さんとうさい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">さんとうさい 塩漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しかくまめ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ししとう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しそ 葉</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しそ 実</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">じゅうろくささげ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しゅんぎく</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">葉しょうが</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しょうが</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">新しょうが</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しろうり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">しろうり 漬物</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ずいき</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">すぐきな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">すぐき漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ズッキーニ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">せり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">セロリ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ぜんまい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">そらまめ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">タアサイ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">かいわれだいこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">葉だいこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">だいこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">切干しだいこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">いぶりがっこ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ぬかみそ漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たくあん漬 塩押しだいこん漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たくあん漬 干しだいこん漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">べったら漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">つまみな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たいさい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たかな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たかな漬</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たけのこ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">めんま</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">たまねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">赤たまねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">葉たまねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">チコリ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ちぢみゆきな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">チンゲンサイ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">つるむらさき</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">とうがらし</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">とうがん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">スイートコーン </option>
<option class="vegetable" protein="" fat="" carb="" calorie="">スイートコーン カーネル</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">スイートコーン 缶詰 クリームスタイル</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">スイートコーン 缶詰 ホールカーネルスタイル</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ヤングコーン</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">赤色トマト</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">赤色ミニトマト</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ホールトマト</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">トレビス</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ながさきはくさい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">なす</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">べいなす</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">なす 漬物</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">和種なばな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">洋種なばな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">にがうり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">にら</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">花にら</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">黄にら</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">にんじん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">きんときにんじん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ミニキャロット</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">にんにく</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">茎にんにく</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">根深ねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">葉ねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">こねぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">のざわな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">のざわな 漬物</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">はくさい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">バジル</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">パセリ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">はつかだいこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">はやとうり</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ビーツ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">青ピーマン</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">トマピー</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ひのな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ひろしまな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ブロッコリー</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">へちま</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ほうれんそう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ホースラディシュ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">まこも</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">みずかけな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">みずな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">切りみつば</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">根みつば</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">糸みつば</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">みぶな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">みょうが</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">みょうがたけ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">むかご</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">めキャベツ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">だいずもやし</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ブラックマッペもやし</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">りょくとうもやし</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">モロヘイヤ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ゆりね</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">ようさい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">よめな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">よもぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">らっかせい</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">らっきょう</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">エシャレット</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">リーキ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">レタス</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">サラダな</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">リーフレタス</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">サニーレタス</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">サンチュ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">コスレタス</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">れんこん</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">わけぎ</option>
<option class="vegetable" protein="" fat="" carb="" calorie="">わらび</option>