<option class="vegetable">アーティチョーク</option>
<option class="vegetable">あさつき</option>
<option class="vegetable">あしたば</option>
<option class="vegetable">アスパラガ</option>
<option class="vegetable">いんげんまめ さやいんげん</option>
<option class="vegetable">うど</option>
<option class="vegetable">やまうど</option>
<option class="vegetable">うるい</option>
<option class="vegetable">えだまめ</option>
<option class="vegetable">エンダイブ</option>
<option class="vegetable">トウミョウ</option>
<option class="vegetable">さやえんどう</option>
<option class="vegetable">スナップえんどう</option>
<option class="vegetable">グリンピース</option>
<option class="vegetable">おおさかしろな</option>
<option class="vegetable">おおさかしろな 塩漬</option>
<option class="vegetable">オクラ</option>
<option class="vegetable">かぶ</option>
<option class="vegetable">かぶ 漬物</option>
<option class="vegetable">日本かぼちゃ</option>
<option class="vegetable">西洋かぼちゃ</option>
<option class="vegetable">そうめんかぼちゃ</option>
<option class="vegetable">からしな</option>
<option class="vegetable">からしな 塩漬</option>
<option class="vegetable">カリフラワー</option>
<option class="vegetable">かんぴょう</option>
<option class="vegetable">かんぴょう 甘煮</option>
<option class="vegetable">きく</option>
<option class="vegetable">菊のり</option>
<option class="vegetable">キャベツ</option>
<option class="vegetable">グリーンボール</option>
<option class="vegetable">レッドキャベツ</option>
<option class="vegetable">きゅうり</option>
<option class="vegetable">きゅうり 塩漬</option>
<option class="vegetable">きゅうり ピクルス スイート型</option>
<option class="vegetable">きゅうり ピクルス サワー型</option>
<option class="vegetable">ぎょうじゃにんにく</option>
<option class="vegetable">キンサイ</option>
<option class="vegetable">クレソン</option>
<option class="vegetable">ケール</option>
<option class="vegetable">コールラビ</option>
<option class="vegetable">こごみ</option>
<option class="vegetable">ごぼう</option>
<option class="vegetable">こまつな</option>
<option class="vegetable">ザーサイ 漬物</option>
<option class="vegetable">さんとうさい</option>
<option class="vegetable">さんとうさい 塩漬</option>
<option class="vegetable">しかくまめ</option>
<option class="vegetable">ししとう</option>
<option class="vegetable">しそ 葉</option>
<option class="vegetable">しそ 実</option>
<option class="vegetable">じゅうろくささげ</option>
<option class="vegetable">しゅんぎく</option>
<option class="vegetable">葉しょうが</option>
<option class="vegetable">しょうが</option>
<option class="vegetable">新しょうが</option>
<option class="vegetable">しろうり</option>
<option class="vegetable">しろうり 漬物</option>
<option class="vegetable">ずいき</option>
<option class="vegetable">すぐきな</option>
<option class="vegetable">すぐき漬</option>
<option class="vegetable">ズッキーニ</option>
<option class="vegetable">せり</option>
<option class="vegetable">セロリ</option>
<option class="vegetable">ぜんまい</option>
<option class="vegetable">そらまめ</option>
<option class="vegetable">タアサイ</option>
<option class="vegetable">かいわれだいこん</option>
<option class="vegetable">葉だいこん</option>
<option class="vegetable">だいこん</option>
<option class="vegetable">切干しだいこん</option>
<option class="vegetable">いぶりがっこ</option>
<option class="vegetable">ぬかみそ漬</option>
<option class="vegetable">たくあん漬 塩押しだいこん漬</option>
<option class="vegetable">たくあん漬 干しだいこん漬</option>
<option class="vegetable">べったら漬</option>
<option class="vegetable">つまみな</option>
<option class="vegetable">たいさい</option>
<option class="vegetable">たかな</option>
<option class="vegetable">たかな漬</option>
<option class="vegetable">たけのこ</option>
<option class="vegetable">めんま</option>
<option class="vegetable">たまねぎ</option>
<option class="vegetable">赤たまねぎ</option>
<option class="vegetable">葉たまねぎ</option>
<option class="vegetable">チコリ</option>
<option class="vegetable">ちぢみゆきな</option>
<option class="vegetable">チンゲンサイ</option>
<option class="vegetable">つるむらさき</option>
<option class="vegetable">とうがらし</option>
<option class="vegetable">とうがん</option>
<option class="vegetable">スイートコーン </option>
<option class="vegetable">スイートコーン カーネル</option>
<option class="vegetable">スイートコーン 缶詰 クリームスタイル</option>
<option class="vegetable">スイートコーン 缶詰 ホールカーネルスタイル</option>
<option class="vegetable">ヤングコーン</option>
<option class="vegetable">赤色トマト</option>
<option class="vegetable">赤色ミニトマト</option>
<option class="vegetable">ホールトマト</option>
<option class="vegetable">トレビス</option>
<option class="vegetable">ながさきはくさい</option>
<option class="vegetable">なす</option>
<option class="vegetable">べいなす</option>
<option class="vegetable">なす 漬物</option>
<option class="vegetable">和種なばな</option>
<option class="vegetable">洋種なばな</option>
<option class="vegetable">にがうり</option>
<option class="vegetable">にら</option>
<option class="vegetable">花にら</option>
<option class="vegetable">黄にら</option>
<option class="vegetable">にんじん</option>
<option class="vegetable">きんときにんじん</option>
<option class="vegetable">ミニキャロット</option>
<option class="vegetable">にんにく</option>
<option class="vegetable">茎にんにく</option>
<option class="vegetable">根深ねぎ</option>
<option class="vegetable">葉ねぎ</option>
<option class="vegetable">こねぎ</option>
<option class="vegetable">のざわな</option>
<option class="vegetable">のざわな 漬物</option>
<option class="vegetable">はくさい</option>
<option class="vegetable">バジル</option>
<option class="vegetable">パセリ</option>
<option class="vegetable">はつかだいこん</option>
<option class="vegetable">はやとうり</option>
<option class="vegetable">ビーツ</option>
<option class="vegetable">青ピーマン</option>
<option class="vegetable">トマピー</option>
<option class="vegetable">ひのな</option>
<option class="vegetable">ひろしまな</option>
<option class="vegetable">ブロッコリー</option>
<option class="vegetable">へちま</option>
<option class="vegetable">ほうれんそう</option>
<option class="vegetable">ホースラディシュ</option>
<option class="vegetable">まこも</option>
<option class="vegetable">みずかけな</option>
<option class="vegetable">みずな</option>
<option class="vegetable">切りみつば</option>
<option class="vegetable">根みつば</option>
<option class="vegetable">糸みつば</option>
<option class="vegetable">みぶな</option>
<option class="vegetable">みょうが</option>
<option class="vegetable">みょうがたけ</option>
<option class="vegetable">むかご</option>
<option class="vegetable">めキャベツ</option>
<option class="vegetable">だいずもやし</option>
<option class="vegetable">ブラックマッペもやし</option>
<option class="vegetable">りょくとうもやし</option>
<option class="vegetable">モロヘイヤ</option>
<option class="vegetable">ゆりね</option>
<option class="vegetable">ようさい</option>
<option class="vegetable">よめな</option>
<option class="vegetable">よもぎ</option>
<option class="vegetable">らっかせい</option>
<option class="vegetable">らっきょう</option>
<option class="vegetable">エシャレット</option>
<option class="vegetable">リーキ</option>
<option class="vegetable">レタス</option>
<option class="vegetable">サラダな</option>
<option class="vegetable">リーフレタス</option>
<option class="vegetable">サニーレタス</option>
<option class="vegetable">サンチュ</option>
<option class="vegetable">コスレタス</option>
<option class="vegetable">れんこん</option>
<option class="vegetable">わけぎ</option>
<option class="vegetable">わらび</option>