<%= render "shared/header" %>
<main>
    <div class="basket">
        <%= render "food" %>
      <ul class="basket-product">
        <li class="view" id="view"></li>
      </ul>
    </div>
    
    
  </main>
<aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span>各種合計値</div>
        <div class="summary-total">
          <div class="total-title">P</div>
          <div class="total-value final-value" id="basket-total">0</div>
          <div class="total-title">F</div>
          <div class="total-value final-value" id="basket-total">0</div>
          <div class="total-title">C</div>
          <div class="total-value final-value" id="basket-total">0</div>
          <div class="total-title">C</div>
          <div class="total-value final-value" id="basket-total">0</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta">Checkout</button>
        </div>
      </div>
    </aside>


    <div class="underlay-photo3"></div>
    <div class="underlay-black"></div>