<%= render "shared/header" %>

<div class="hero" id='account-page'>

<label>
      <input type="checkbox" id="cbA" value="A"/>
      チェックボックスA
    </label>
    <label>
      <input type="checkbox" id="cbB" value="B"/>
      チェックボックスB
    </label>
    <label>
      <input type="checkbox" id="cbC" value="C"/>
      チェックボックスC
    </label>










    <div class="underlay-photo3"></div>
    <div class="underlay-black"></div>
</div>